{% extends 'menu.html' %}
{% block content %}
<div class="jumbotron">

        <h1 class="logo">HYUNVEN</h1>

        <h2 class="logo">INC</h2>

    </div>

    <div class="container">

    </div>

    <div id="insides" class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1>ABOUT</h1>
                <p> We are a great company that truly understands what the water/marine experience is like. This knowledge of
                    experience drives us to deliver what is considered to be among the best of technologies to our customers.
                    No other company matches our passion for quality and performance. Hyundai Marine provides engines, generators,
                    propulsion systems and parts for commercial and government marine applications. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card short">
                    <div class="card-body">
                        <h5 class="card-title">CONTACT INFORMATION</h5>
                        <p class="card-text">
                            <a href="mailto:info@hyunven.com">info@hyunven.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card short">
                    <div class="card-body">
                        <h5 class="card-title">ADDRESS</h5>
                        <p class="card-text">
                            <a href="https://www.google.com/maps/place/4769+NW+72nd+Ave,+Miami,+FL+33166/@25.8177765,-80.3155233,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9ba292ca25815:0xe2da586fab6e0365!8m2!3d25.8177765!4d-80.31333464769">NW 72nd Ave. Miami FL 33166</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card short">
                    <div class="card-body">
                        <h5 class="card-title">FAX</h5>
                        <p class="card-text">( 1 ) 305 4637083</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}