.logo{
    font-family: 'Krona One', sans-serif;
}

.jumbotron > h1, .jumbotron > h2 {
    display: inline;    
    color: #00072d;
}

.jumbotron>h1{
    font-size: 6vw;
}

.jumbotron>h2{
    font-size: 3vw;
}

.jumbotron{
    background-color: #0e6ba8;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: -10px;
}

.navbar-light{
    background-color: #a6e1fa;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(0, 7, 45, .5);
}

.nav-link:focus{
    color: rgba(0, 7, 45) !important;
}

body{
    background-color: #00072d;
}

.container{
    background-color: white;
    min-height: 20px;
    margin-top: 10px;
}

.container.content{
    border-radius: 10px;
    margin-top: -10px;
    padding-bottom: 10px;
    background-color: white;
    margin-bottom: 50px;
}

.card{
    background-color: #a6e1fa;
    min-height: 30vh;
}

.carousel-item>img{
    max-width: 100%;
    max-height: 30vh;
}

.row{
    padding: 10px;
}

.img-fit{
    max-width: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.short{
    min-height: 0px !important;
}