<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>HYUNVEN Home</title>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='hyunven.css') }}">



</head>



<body>

    <nav class="navbar navbar-expand-lg sticky-top navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">

                    <a class="nav-link" href="{{ url_for('index_protected')}}">Home</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" href="{{ url_for('about_protected') }}">About</a>

                </li>

                <li class="nav-item">
                            <a class="nav-link" href="catalogue">Catalogue</a>
                        </li>


            </ul>

        </div>

        <div class="pull-right">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">

                    <a class="nav-link" href="{{ url_for('index') }}">Log out</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link">cart</a>

                </li>

            </ul>

        </div>

    </nav>

    <div class="jumbotron">

        <h1 class="logo">HYUNVEN</h1>

        <h2 class="logo">INC</h2>

    </div>

    <div class="container">

    </div>

    <div id="insides" class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1>ABOUT</h1>
                <p> We are a great company that truly understands what the water/marine experience is like. This knowledge of
                    experience drives us to deliver what is considered to be among the best of technologies to our customers.
                    No other company matches our passion for quality and performance. Hyundai Marine provides engines, generators,
                    propulsion systems and parts for commercial and government marine applications. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card short">
                    <div class="card-body">
                        <h5 class="card-title">CONTACT INFORMATION</h5>
                        <p class="card-text">
                            <a href="mailto:info@hyunven.com">info@hyunven.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card short">
                    <div class="card-body">
                        <h5 class="card-title">ADDRESS</h5>
                        <p class="card-text">
                            <a href="https://www.google.com/maps/place/4769+NW+72nd+Ave,+Miami,+FL+33166/@25.8177765,-80.3155233,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9ba292ca25815:0xe2da586fab6e0365!8m2!3d25.8177765!4d-80.31333464769">NW 72nd Ave. Miami FL 33166</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card short">
                    <div class="card-body">
                        <h5 class="card-title">FAX</h5>
                        <p class="card-text">( 1 ) 305 4637083</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>



</html>