{% extends 'not-logged-in-menu.html' %}
    {% block content %}
    <div class="jumbotron">
        <h1 class="logo">HYUNVEN</h1>
        <h2 class="logo">INC</h2>
    </div>
    <div class="container">
    </div>
    <div id="insides" class="container content">
        <h1>Register</h1>
        <form method="POST" action="/register">
            {{ form.hidden_tag() }} 
            {{ form.username.label }} 
            {{ form.username(size=30) }} 
            {{ form.password.label }} 
            {{ form.password(size=20)}}
            <input type="submit" value="sign up">
        </form>
    </div>
{% endblock %}
